<div style="background: #F5F5F5; width: 659px; margin:auto auto auto auto">
  <div class= "form-group" style="padding: 50px 50px 50px 50px;width:659px ;margin:auto auto">
    <h4>重置密码</h4>
    <%= render :partial => 'shared/link_to', :locals => {:link_to_text => '用户登录', :url_or_path => login_path} %>
    <%= form_tag "setup_user_new_password_view" do %>
        <%= render 'shared/setup_new_password_and_edit_user' %>
    <% end %>
  </div>
</div>
