%header
  竞价列表
  .header-left
    %a.btn-style.btn-4(ng-tap="jump_to_activity_list_view()") 返回
  .header-right(ng-switch="is_can_create_new_bid_click()")
    %a.btn-style.btn-4.disabled(ng-Switch-default)
      开始新竞价
    %a.btn-style.btn-4(ng-tap="create_new_bid()" ng-switch-when="true")
      开始新竞价
.wrapper
  %ul.list-style-2
    %center
      %li(class="{{bid.status|status}}" ng-repeat="bid in bids")
        %a(ng-tap="jump_to_detail_bid({{bid}})")
          %h3
            {{bid.name}}
%footer
  %ul.footer-nav.footer-nav-2tabs
    %li
      %a(style="font-size: 25px" ng-tap="jump_to_activity_sign_up_view()")
        报名
    %li.active
      %a(style="font-size: 25px" )
        竞价
























