%header
  {{bid_name}}
  %span ({{stats_bid_sign_up_person}}人)
  .header-right
    %a.btn-style.btn-4(ng-tap="jump_to_bid_statistics_view()")
      统计
  .header-left
    %a.btn-style.btn-4(ng-tap="jump_to_bid_list_view()")
      返回
%wrapper.wrapper-scrollable(style="position:relative;top:50px")
  %ul.list-style-2
    %li(ng-repeat="bid_sign_up_result_info in bid_sign_up_result_infos"  style="height: 42px; font-size: 18px; word-spacing: 20px")
      {{$index+1}}
      {{bid_sign_up_result_info.name}}
      {{bid_sign_up_result_info.phone}}
      ￥{{bid_sign_up_result_info.price}}
%footer
  %div
    %h3
      {{show_winner_info}}
.modal.fade#myModal
  .modal-dialog
    .modal-content
      .modal-header
        %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times
        .modal-title.question_size
      .modal-body
        %div(style='text-align:center')
          %div
            %h4(style="font-size: 30px")
              {{show_winner_info}}
      .modal-footer
        %h4.text-center(style="font-size: 30px" )
          {{footer_tips}}