%header
  竞价列表
  .header-left
    %a.btn-style.btn-4(ng-tap="jump_to_activity_list_view()") 返回
  .header-right(ng-switch="btn_flag")
    %a.btn-style.btn-4.disabled(ng-Switch-default)
      创建新竞价
    %a.btn-style.btn-4(ng-tap="create_new_tip()" ng-Switch-when = "true")
      创建新竞价
#wrapper.wrapper-scrollable(style='position:relative;top:50px')
  %ul.list-style-2
    %li(ng-repeat="bid_list in bid_lists"   style="{{bid_list.status|status}} ; height:42px;" ng_tap="bid_sign_up_detail(bid_list.name,bid_list.activity_name)")
      {{bid_list.name}}

%footer
  %ul.footer-nav.footer-nav-2tabs
    %li
      %a(style="font-size: 25px" ng-tap="jump_to_activity_sign_up_view()")
        报名
    %li.active
      %a(style="font-size: 25px" )
        竞价
























