.no-footer
  %header
    活动通
  .wrapper
    %form.wrapper-inner
    .ui-content(style="text-align:center" )
      %h5
        用户登录
    %ui-content
      用户名:
      %input.input-full(ng-model="name" type="text")
    .ui-content
      密码:
      %input.input-full(ng-model="password" type="password")
    %center
      .ui-content
        %a.btn-style.btn-2(ng-tap="login_party_bid()")
          登录