%header
  活动通
%div.text-center(style="background: #F5F5F5; width: 559px; margin-top: 20px")
  %div.form-group(style="padding: 50px 50px 50px; width: 559px; margin: auto auto")
    %div.input-group(style="margin: 20px auto auto auto; width: 459px" )
      %input.form-control(ng-model="name" type="text"  style="width: 400px"  placeholder="请输入帐号")
    %div.input-group(style="margin: 20px auto auto auto; width: 459px" )
      %input.form-control(ng-model="password" type="password"  style="width: 400px" placeholder="请输入密码")
    %button.btn.btn-default.btn-sm(ng-tap = "login_party_bid()" type="button" style="margin: auto auto auto auto; width:150px")
      登录
