<div class= "form-group" style="width: 600px; padding: 50px 50px 50px 50px;width:50% ;margin:auto auto">
  <h4>重置密码</h4>
  <div class="col-sm-offset-2 col-sm-10 text-right" >
    <%= link_to "用户登录",login_url %>
  </div>
  <%= form_tag "/create_login_session" do %>
      <div class="input-group" style="margin:20px auto auto auto">
        <span class="input-group-addon text-center" style="width: 120px">帐号</span>
        <%= text_field_tag :name, params[:name], :class => "form-control", :style => "width:450px",:placeholder =>"请输入帐号名"%>
      </div>
      <div class="text-center">
        <%= submit_tag "下一步", :class => "btn btn-default", :style => 'margin:20px auto auto auto ;width:150px' %>
      </div>
  <% end %>
 </div>

