<ol class="breadcrumb" style="margin-right: 180px">
  <li><%= link_to "首页", home_view_path, :style=> "color: #1E90FF" %></li>
  <% if second_text %>
      <li><%= link_to second_text, second_view_path, :style=> "color: #1E90FF"%></li>
  <% end %>
  <li class="active"><%= active_text %></li>
</ol>
