<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>
<% if flash[:login_error] %>
  <div class="flash-error text-center" style ="width:559px ;margin:auto auto ">
    <%= flash[:login_error] %>
  </div>
<% end %>
<% if flash[:reset_password_error] %>
    <div class="flash-error text-center" style ="width:559px ;margin-top: 10px ">
      <%= flash[:reset_password_error] %>
    </div>
<% end %>
