<div class="input-group" style="margin:20px auto auto auto; width: 559px">
  <span class="input-group-addon text-center" style="width: 120px"> <%=span_text  %></span>
  <%= form.password_field user_attribute, :class => "form-control", :style => "width:450px", :placeholder => placeholder_show %>
</div>