<%= render :partial => 'shared/bread_crumb', :locals => {:home_view_path => administrator_welcome_view_path, :active_text => "添加用户", :second_text => nil} %>
<div style="background: #F5F5F5; width: 659px; margin-left: 180px">
  <div class= "form-group" style="padding: 50px 50px 50px 50px; width:659px; margin: auto auto">
    <%= form_for @user, :url => 'add_user_view'  do |form| %>
        <%= render :partial => 'shared/register_and_add', :locals => {:form => form} %>
        <%= render :partial => 'shared/submit_button', :locals => {:form => form, :submit_button_text => "确认添加"} %>
    <% end %>
  </div>
</div>


