= render :partial => 'shared/bread_crumb', :locals => {:home_view_path => administrator_welcome_view_path, :active_text => '添加用户', :second_text => nil}
= render :partial => 'shared/register_and_add', :locals => {:user => @user, :url => 'add_user_view'}