<div class="panel panel-default" style="margin-left: 180px; margin-right: 180px">
  <div class="panel-heading">
    用户管理
    <a class="btn-default btn" href="add_user">添加用户</a>
  </div>
  <table class="table">
   <tr>
     <td>编号</td>
     <td>用户名</td>
     <td>操作</td>
   </tr>
  </table>
</div>
