<%= render :partial => 'shared/bread_crumb', :locals => {:home_view_path => administrator_welcome_view_path, :active_text => "修改用户密码", :second_text => nil} %>
<div style="background: #F5F5F5; width: 659px; margin-left: 180px">
  <div class="form-group" style="padding: 50px 50px 50px 50px; width: 659px; margin: auto auto">
    <%= form_tag "update_user_password" do %>
        <%= render :partial => 'shared/text_field_tag', :locals => {:span_text => '帐号',
                                                                    :user_attribute => :name,
                                                                    :placeholder_show => @user_name,
                                                                    :disabled => 'disabledInput'} %>

        <%= render 'shared/setup_new_password_and_edit_user' %>
    <% end %>
  </div>
</div>


