= render :partial => 'shared/bread_crumb', :locals => {:home_view_path => administrator_welcome_view_path, :active_text => '修改用户密码', :second_text => nil}
= render :partial => 'shared/setup_new_password_and_edit_user', :locals => {:url => 'edit_user_view', :is_edit_user_view => true}