// Place all the styles related to the administrator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.administrator_view_background {
  background: #F5F5F5;
  width: 659px;
  margin-left: 180px
}