// Place all the styles related to the reset_password controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_and_reset_password_view_background {
  background: #F5F5F5;
  width: 659px;
  padding: 50px;
  margin: auto auto auto auto
}