// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bid-show-background {
  margin: auto 180px auto 180px;
  background-color: #cccccc;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px
}