<!--<meta http-equiv="refresh" content="3">-->
<div style="margin: auto 180px auto 180px; background-color: #cccccc; text-align: center; padding-top: 20px;padding-bottom: 20px">
  <div style="font-size: 80px">
    <%= params[:biding_activity_name] %>
  </div>
  <div style="font-size: 30px; margin-right: 80px">参与人数：</div>

</div>

<div class="panel panel-default" style="margin: 30px 180px auto 180px">
    <table class="table table-hover" style="text-align: center">
      <tr>
        <td>姓名</td>
        <td>手机号</td>
      </tr>
    </table>
</div>